.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  height: 30vh;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.2s;
  background-color: var(--background);
  gap: 15px;
}

.search-bar mat-form-field {
  width: 70%;
}

.search-bar-input {
  width: 50%;
  font-size: 14px;
}

.search-bar-select  mat-label{
  width: 50%;
  font-size: 14px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: var(--text-secondary);
}

.search-var-input mat-label{
  color: var(--text-secondary);
}

.search-bar-input input {
  color: var(--text-primary);
}

.button {
  width: 30%;
  padding: 10px 20px;
  border: none;
  background-color: var(--secondary);
  color: var(--text-primary);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}

.random-button {
  background-color: rgb(230, 153, 52);
  margin-top: 20px;
}

 .button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-bar:focus-within {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

